
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.header {
    grid-area: h;
    background-color: seagreen;
}

.header img {
    width: 90px;
    height: 50px;
}

