
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.header {
    grid-area: h;
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 6px;
    padding-left: 14px;
}

.header img {
    width: 60px;
    height: 50px;
}

.loginblock {
    cursor: pointer;
    font-size: 25px;
}

.loginblock a {
    color: aliceblue;
    font-size: 26px;
    text-decoration: none;
}
